html,
body {
	margin: 0;
	padding: 0;
	/* background-color: lightpink; */
}
/* 
.container {
	padding: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 50px 1fr 200px;
} */

#score-container {
	background-color: aquamarine;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-column: 1/2;
	grid-row: 1/2;
}

#start-button {
	color: white;
	background-color: black;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
	width: 100px;
	height: 25px;
}

canvas {
	display: block;
	grid-column: 1/2;
	grid-row: 2/3;
}

#kinect-window {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aqua;
	grid-column: 2/3;
	grid-row: 2/3;
}

.hands {
	height: 100px;
	background-color: #b8937a;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
	padding: 25px 50px 25px 50px;
}

.circle {
	height: 50px;
	width: 50px;
	color: white;
	background-color: #fcc006;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-arrow {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #ca0147;
	margin: 2rem;
	margin-right: 35px;
}

.up-arrow {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #ca0147;
	margin: 2rem;
	margin-bottom: 35px;
}

.right-arrow {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #ca0147;
	margin: 2rem;
	margin-left: 35px;
}

.down-arrow {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #ca0147;
	margin: 2rem;
	margin-top: 35px;
}

.active-left {
	border-right: 15px solid #c1f80a;
}

.active-up {
	border-bottom: 15px solid #c1f80a;
}

.active-right {
	border-left: 15px solid #c1f80a;
}

.active-down {
	border-top: 15px solid #c1f80a;
}

.title {
	font-size: 35px;
	background: black;
	color: white;
	text-align: center;
}

.body {
	font-size: 25px;
	background: pink;
	text-align: center;
	margin-top: 100px;
	font-weight: bold;
}
.img {
	margin-left: 20px;
}

#timer-container {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 50px auto;
	border-radius: 50%;
	background-color: #f2f2f2;
}

#timer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: bold;
	color: #ff3399;
	text-shadow: 0px 0px 10px #ff3399;
}

#stretch-timer-container {
	position: relative;
	width: 75px;
	height: 75px;
	margin: 50px auto;
	border-radius: 50%;
	background-color: #f2f2f2;
}

#stretch-timer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: bold;
	color: #ff3399;
	text-shadow: 0px 0px 10px #ff3399;
}

.container {
	padding: 20px;
	display: grid;
	/* gap: 20px; */
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 150px 1fr 150px;
}

.container3 {
	width: 100%;
	height: 400px;
	border: 1px red;
}

.left {
	width: 1px / 2px;
	height: 100%;
	/* background: lightpink; */ /* selected option's color */
	float: left;
	text-align: center;
}

.right {
	width: 1px / 2px;
	height: 100%;
	float: right;
	/* background: pink; */ /* default color */
	text-align: center;
}

.middle {
	width: 1px / 3px;
	height: 100%;
	overflow: hidden;
	/* background: pink; */
	text-align: center;
}

#up-container {
	background-color: thistle;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-column: 1/2;
	grid-row: 1/2;
}

#bottom-container {
	height: 120px;
	background-color: thistle;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left2 {
	width: 45%;
	height: 100%;
	/* background: lightpink; */ /* selected option's color */
	float: left;
	text-align: center;
}
.mid2 {
	width: 10%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
.right2 {
	width: 45%;
	height: 100%;
	float: right;
	/* background: pink; */ /* default color */
	text-align: center;
}
#p1 {
	text-align: center;
}
